<!-- Footer section -->
<section class="footer-section" style="padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
          <div class="footer-widget about-widget" style="margin-bottom: 2px;">
              <h2 style="margin-bottom: 20px;">About</h2>
              <a href="index.html"><img src="/assets/divisima/./img/logo-light.png" alt="" style="margin-left: -30px;"></a>
              <p>Giving you the best service is our top criterion.</p>
            </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="footer-widget about-widget" style="margin-bottom: 2px;">
              <h2 style="margin-bottom: 20px;">Social network</h2>
            </div>
            <div class="social-links-warp" style="padding-top: 0px; padding-bottom: 10px; border-top-width: 0px;">
              <div class="container" style="padding-left: 0px;">
                <div class="social-links">
                  <a style="padding-bottom: 5px;" href="" class="instagram"><i
                      class="fa fa-instagram"></i><span>instagram</span></a>
                  <a style="padding-bottom: 5px;" href="" class="facebook"><i
                      class="fa fa-facebook"></i><span>facebook</span></a>
                  <a style="padding-bottom: 5px;" href="" class="twitter"><i
                      class="fa fa-twitter"></i><span>twitter</span></a>
                  <a style="padding-bottom: 5px;" href="" class="youtube"><i
                      class="fa fa-youtube"></i><span>youtube</span></a>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-3 col-sm-6">
      </div>
      <div class="col-lg-3 col-sm-6">
      </div>
    </div>
  </div>
  <div class="social-links-warp" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="container">
      <p class="text-white text-center mt-5" style="margin-top: 2px !important; margin-bottom: 2px;">Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
          class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      </p>
    </div>
  </div>
</section>