<app-header></app-header>
<app-menu></app-menu>
<div class="container">
	<div class="check">	 
		<div class="col-md-8 cart-items">
				<button class="btn btn-danger btn-sm" (click)="clearCart()" style="float: right; margin-bottom: 5px;">Delete all</button>
			<table class="table table-striped table-bordered">
					
				<thead>
					<tr>
						<th>Tên sản phẩm</th>
						<th>Số lượng</th>
						<th>Giá</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let client of clients">
						<td>
								<div class="dropdown">
										<a class="dropbtn" routerLink="/single/{{client.product_id}}/{{client.quantity}}">{{client.name}}</a>
										<div class="dropdown-content" style="max-width: 206px; max-height: 256px;">
										  <img style="height: 100%;width: 100%" [src]="client.images"/>        
										</div>
									  </div>
						</td>
						<td><span> {{client.quantity}} </span>
						<span>
							<button class="btn btn-plus  btn-sm" style="float: right;" (click)="plusProductInCart(client.product_id,client.quantity)">+</button>
						</span>
						<span>
							<button class="btn btn-minus  btn-sm" style="float: right;" (click)="minusProductInCart(client.product_id,client.quantity)">-</button>
						</span>
					</td>
						<td>{{client.price}}</td>
						<td><button class="btn btn-danger btn-sm" (click)="deleteProductInCart(client.product_id)" >Delete</button></td>
					</tr>
				</tbody>
			</table>
					<div>
						<span>Địa chỉ giao hàng:</span><input type="text" id="projectinput1" class="form-control" [(ngModel)]="diaChiGiaoHang" placeholder="Địa chỉ" name="diaChiGiaoHang" style="margin-left: 5px; display: inline-block; width: 80%;">
					</div>
		</div>
		 <div class="col-md-3 cart-total">
			
			 <ul class="total_price">
			   <li class="last_price"> <h4>Tổng tiền</h4></li>	
			   <li class="last_price"><span>{{tong}} Dollar</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			
			 
			 <div class="clearfix"></div>
			 <a class="order" style="color: white;" (click)="thanhtoan(0)">Thanh toán</a>
			 <div id="paypal-checkout-btn"></div>
			 
			</div>
	 </div>
</div>
<app-footer></app-footer>
