<app-header></app-header>
<app-menu></app-menu>
<div class="container">
  <div class="women_main">
    <div class="col-md-9 w_content">
      <div class="women">
        <a href="#">
          <h4>Enthecwear - <span>4449 itemms</span> </h4>
        </a>
        <ul class="w_nav">
          <li>Sort : </li>
          <li><a class="active" href="#">popular</a></li> |
          <li><a href="#">new </a></li> |
          <li><a href="#">discount</a></li> |
          <li><a href="#">price: Low High </a></li>
          <div class="clear"></div>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="grids_of_4">
        <div class="grid1_of_4 simpleCart_shelfItem">
          <div class="content_box"><a href="single.html">
              <div class="view view-fifth">
                <img src="../../assets/images/1.jpg" class="img-responsive" alt="" />
                <div class="mask1">
                  <div class="info"> </div>
                </div>
              </div>
            </a>
          </div>
          <h5><a href="single.html"> Duis autem</a></h5>
          <h6>It is a long establishe</h6>
          <div class="size_1">
            <span class="item_price">$187.95</span>
            <select class="item_Size">
              <option value="Small">L</option>
              <option value="Medium">S</option>
              <option value="Large">M</option>
              <option value="Large">XL</option>
            </select>
            <div class="clearfix"></div>
          </div>
          <div class="size_2">
            <div class="size_2-left">
              <input type="text" class="item_quantity quantity_1" value="1" />
            </div>
            <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="grid1_of_4 simpleCart_shelfItem">
        <div class="content_box"><a href="single.html">
            <div class="view view-fifth">
              <img src="../../assets/images/1.jpg" class="img-responsive" alt="" />
              <div class="mask1">
                <div class="info"> </div>
              </div>
            </div>
          </a>
        </div>
        <h5><a href="single.html"> Duis autem</a></h5>
        <h6>It is a long establishe</h6>
        <div class="size_1">
          <span class="item_price">$187.95</span>
          <select class="item_Size">
            <option value="Small">L</option>
            <option value="Medium">S</option>
            <option value="Large">M</option>
            <option value="Large">XL</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="size_2">
          <div class="size_2-left">
            <input type="text" class="item_quantity quantity_1" value="1" />
          </div>
          <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="grid1_of_4 simpleCart_shelfItem">
        <div class="content_box"><a href="single.html">
            <div class="view view-fifth">
              <img src="../../assets/images/1.jpg" class="img-responsive" alt="" />
              <div class="mask1">
                <div class="info"> </div>
              </div>
            </div>
          </a>
        </div>
        <h5><a href="single.html"> Duis autem</a></h5>
        <h6>It is a long establishe</h6>
        <div class="size_1">
          <span class="item_price">$187.95</span>
          <select class="item_Size">
            <option value="Small">L</option>
            <option value="Medium">S</option>
            <option value="Large">M</option>
            <option value="Large">XL</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="size_2">
          <div class="size_2-left">
            <input type="text" class="item_quantity quantity_1" value="1" />
          </div>
          <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="grid1_of_4 simpleCart_shelfItem">
        <div class="content_box"><a href="single.html">
            <div class="view view-fifth">
              <img src="../../assets/images/1.jpg" class="img-responsive" alt="" />
              <div class="mask1">
                <div class="info"> </div>
              </div>
            </div>
          </a>
        </div>
        <h5><a href="single.html"> Duis autem</a></h5>
        <h6>It is a long establishe</h6>
        <div class="size_1">
          <span class="item_price">$187.95</span>
          <select class="item_Size">
            <option value="Small">L</option>
            <option value="Medium">S</option>
            <option value="Large">M</option>
            <option value="Large">XL</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="size_2">
          <div class="size_2-left">
            <input type="text" class="item_quantity quantity_1" value="1" />
          </div>
          <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>