<div class="footer">
	<div class="container">
	   <div class="footer_top">
		<div class="col-md-4 box_3">
			<h3>Các chi nhánh</h3>
			<address class="address">
              <p>183 Võ Văn Ngân, Thủ Đức <br>251 Võ Thị Sáu, Quận 1.</p>
              <dl>
                 <dt></dt>
                 <dd>Telephone:<span>0375123494</span></dd>
                 <dd>E-mail:&nbsp; <a>daidung345@gmail.com</a></dd>
              </dl>
           </address>
           <ul class="footer_social">
			  <li><a href=""> <i class="fb"> </i> </a></li>
			  <li><a href=""><i class="tw"> </i> </a></li>
			  <li><a href=""><i class="google"> </i> </a></li>
			  <li><a href=""><i class="instagram"> </i> </a></li>
		   </ul>
		</div>
		<div class="col-md-2 box_3">
		</div>
		<div class="col-md-6 box_3">
			<h3>Support</h3>
			<ul class="list_1">
				<li><a href="#">Kỹ thuật</a></li>
				<li><a href="#">Chăm sóc khách hàng</a></li>
				<li><a href="#">Hỗ trợ</a></li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
