<app-header></app-header>
<app-menu></app-menu>
<div class="single_top">
  <div class="container"> 
      <div class="register">
         <form method="POST" (ngSubmit)="register()"> 
        <div class="register-top-grid">
         <h3>PERSONAL INFORMATION</h3>
          <div>
           <span>Account Name<label>*</label></span>
           <input [(ngModel)]="user.accountName" type="text" name="accountName"> 
          </div>
          <div>
           <span>User Name<label>*</label></span>
           <input [(ngModel)]="user.name" type="text" name="name"> 
          </div>
          <div>
            <span>Email Address<label>*</label></span>
            <input [(ngModel)]="user.email" type="text" name="email"> 
          </div>
          <div class="clearfix"> </div>
            <a class="news-letter" href="#">
            </a>
          </div>
            <div class="register-bottom-grid">
               <h3>LOGIN INFORMATION</h3>
              <div>
               <span>Password<label>*</label></span>
               <input [(ngModel)]="user.password" type="password" name="password">
              </div>
              <div>
               <span>Confirm Password<label>*</label></span>
               <input [(ngModel)]="user.confirmpassword" type="password" name="confirmpassword" >
              </div>
              <div class="clearfix"> </div>
          </div>
          <input type="submit" class="btn btn-danger btn-sm" value="submit">
       </form>
       <div class="clearfix"> </div>
       <div class="register-but">
          <form>
            
            <div class="clearfix"> </div>
          </form>
       </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
