<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>
</header>
<!-- Header section end -->


<!-- cart section end -->
<section class="cart-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-table">
          <h3>Your Cart</h3>
          <div class="cart-table-warp">
            <table>
              <thead>
                <tr>
                  <th class="product-th">Product</th>
                  <th class="quy-th">Quantity</th>
                  <th class="size-th" style="padding-right: 0px;">Size</th>
                  <th class="total-th" style="padding-right: 20px;">Price</th>
                  <th class="total-th">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients">
                  <td class="product-col">
                    <img [src]="client.images" alt="" style="object-fit: cover; height: 73px;">
                    <div class="pc-title">
                      <h4><a routerLink="/product/{{client.product_id}}/{{client.quantity}}">{{client.name}}</a></h4>
                      <p>${{client.price}}</p>
                    </div>
                  </td>
                  <td class="quy-col">
                    <!-- <div class="quantity">              
                        <input class="pro-qty" type="number" value="{{client.quantity}}">
                    </div> -->

                    <div class="quantity">
                      <div class="pro-qty" style="padding: 0px; width: auto !important;">
                        <span>
                          <button class="btn"
                            (click)="minusProductInCart(client.product_id,client.quantity, client.size, client.price)">-</button>
                        </span>
                        <span> {{client.quantity}} </span>
                        <span>
                          <button class="btn"
                            (click)="plusProductInCart(client.product_id,client.quantity, client.size, client.price)">+</button>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="size-col">
                    <!-- <h4>Size {{client.size}}</h4> -->
                    <div class="quantity">
                      <div class="pro-qty" style="padding: 0px; width: auto !important;">
                        <span>
                          <button class="btn"
                          (click)="minusSizeInCart(client.product_id,client.quantity, client.size, client.price)">-</button>
                        </span>
                        <span> {{client.size}} </span>
                        <span>
                          <button class="btn"
                          (click)="plusSizeInCart(client.product_id,client.quantity, client.size, client.price)">+</button>
                        </span>
                      </div>
                    </div>
                    
                  </td>
                  <td class="total-col" style="padding-right: 20px;">
                    <h4>${{client.price}}</h4>
                  </td>
                  <td class="total-col"><button class="btn btn-danger btn-sm"
                      (click)="deleteProductInCart(client.product_id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="total-cost" style="padding-right: 135px;">
            <h6>Total <span>${{tong}}</span></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-right">
        <a (click)="clearCart()" class="site-btn">Delete all</a>
        <a (click)="checkout()" class="site-btn">Proceed to checkout</a>
        <a href="/" class="site-btn sb-dark">Continue shopping</a>
      </div>
    </div>
  </div>
</section>
<!-- cart section end -->

<app-shop-footer></app-shop-footer>