<app-header></app-header>
<app-menu></app-menu>
<div class="single_top">
  <div class="container"> 
     <div class="register">
       <div class="col-md-6 login-right">
         <h3>Đăng nhập vào tài khoản</h3>
       <p>Nếu bạn đã có tài khoản, hãy đăng nhập để tiếp rục.</p>
       <form method="POST" (ngSubmit)="login()">
         <div>
         <span>Account Name<label>*</label></span>
         <input [(ngModel)]="user.accountName" type="text" name="accountName"> 
         </div>
         <div>
         <span>Password<label>*</label></span>
         <input [(ngModel)]="user.password" type="text" name="password"> 
         </div>
         <a class="forgot" href="#">Quên mật khẩu?</a>
         <input type="submit" value="Đăng nhập">
         </form>
        </div>
         <div class="col-md-6 login-left">
          <h3>Tạo tài khoản mới</h3>
        <p>Bằng việc tạp tài khoản mới bạn sẽ có thêm những tiện ích mà chỉ có người dùng của shop mới thực hiện được.</p>
        <a class="acount-btn" routerLink='/register'>Tạo</a>
        </div>	
        <div class="clearfix"> </div>
   </div>
    </div>
</div>  
<app-footer></app-footer>