<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-ad-menu></app-ad-menu>
</header>

<!-- cart section end -->
<section class="cart-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-table" style="padding-bottom: 40px;">
          <h3>Order Management</h3>
          <div class="cart-table-warp">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center;">Id</th>
                  <th class="product-th" style="text-align: center;">Name</th>
                  <th class="product-th" style="text-align: center;">Email</th>
                  <th class="quy-th" style="text-align: center;">Address</th>
                  <th class="total-th" style="text-align: center;">Phone</th>
                  <th class="total-th" style="text-align: center;">Date Order</th>
                  <th class="total-th" style="text-align: center;">Bill Id</th>
                  <th class="total-th" style="text-align: center;">Order</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients">
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;"> {{client.id}} </td>
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;"> {{client.name}} </td>
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;"> {{client.email}} </td>
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;"> {{client.address}} </td>
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;"> {{client.phone}} </td>
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;">
                    {{client.dateCreate | date : "dd/MM/yyyy"}} </td>
                  <td (click)="onGotoDetail(client.bill_id)" style="text-align: center;"> {{client.bill_id}} </td>
                  <td style="text-align: center;">
                    <ng-container *ngIf="client.status === 0; else isnot">
                      <button class="btn btn-primary" (click)="onSetStatus(client.bill_id)">Confirm</button>
                    </ng-container>
                    <ng-template #isnot>
                      Confirmed
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cart section end -->

<app-shop-footer></app-shop-footer>