<app-header></app-header>
<app-menu></app-menu>
<div class="col-xs-3 " style="margin-bottom: 20px; margin-top: 30px;">
  <img class="avatar" [src]="image" alt="">
  <form [formGroup]="formImage" method="POST" (ngSubmit)="onSaveImage()"
  novalidate>
  <label class="hinhanh" id="#bb"> Select Img
      <input type="file" (change)="onChangedImage($event)" #fileInput id="File"   size="60" >
      </label> 
      <button class="up" type="submit">Up</button>
      </form>
  </div>
  <div class="col-xs-9">
      <div class="container" style="width: 100%; margin-bottom: 20px;">
          <form form method="POST" (ngSubmit)="doithongtincanhan()">
          <div class="row">
            <div class="col-25">
              <label class="a" >Name</label>
            </div>
            <div class="col-75">
              <input [(ngModel)]="userprofile.name" type="text" id="fname" name="name" placeholder="Your name..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label class="a" for="lname">Date of Birth</label>
            </div>
            <div class="col-75">
              <input [(ngModel)]="dateOfBirth" type="date" data-date-format="DD MMMM YYYY" id="lname" name="dateOfBirth">
            </div>
          </div>
          <div class="row">
              <div class="col-25">
                <label class="a" >Phone</label>
              </div>
              <div class="col-75">
                <input [(ngModel)]="userprofile.phone" type="text" id="fname" name="phonr" placeholder="Your phone..">
              </div>
            </div>
          <div class="row">
              <div class="col-25">
                <label class="a" >Account Name</label>
              </div>
              <div class="col-75">
                <input [(ngModel)]="userprofile.accountName" type="text" id="fname" name="accountName" placeholder="Your account name..">
              </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label class="a" >Password</label>
                </div>
                <div class="col-75">
                  <input [(ngModel)]="userprofile.password" type="text" id="fname" name="password" placeholder="Your password..">
                </div>
              </div>
              <div class="row">
                  <div class="col-25">
                    <label class="a" >Address</label>
                  </div>
                  <div class="col-75">
                    <input [(ngModel)]="userprofile.address" type="text" id="fname" name="address" placeholder="Your address..">
                  </div>
                </div>
                <div class="row">
                    <div class="col-25">
                      <label class="a" >Email</label>
                    </div>
                    <div class="col-75">
                      <input [(ngModel)]="userprofile.email" type="text" id="fname" name="email" placeholder="Your email..">
                    </div>
                  </div>
          <div class="row">
            <div class="col-25">
              <label class="a" for="country">Sex</label>
            </div>
            <div class="col-75">
              <select id="country" [(ngModel)]="userprofile.gender" name="gender">
                <option value="1">male</option>
                <option value="2">female</option>
              </select>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
          </form>
        </div>
  </div>
<app-footer></app-footer>
