<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>
</header>
<!-- Header section end -->

<!-- product section -->
<section class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom" style="text-align: center;">
          <img class="product-big-img" [src]="product.images" style="width: 400px; height:550px ;">
        </div>
      </div>
      <div class="col-lg-6 product-details" >
        <h2 class="p-title">{{product.name}}</h2>
        <h3 class="p-price">{{product.price}}<span> Dollar</span></h3>
        <div class="fw-size-choose">
          <p>Size</p>
          <div class="sc-item">
            <input type="radio" name="sc" id="xs-size">
            <label for="xs-size">32</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="s-size">
            <label for="s-size">34</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="m-size" checked="">
            <label for="m-size">36</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="l-size">
            <label for="l-size">38</label>
          </div>
          <div class="sc-item disable">
            <input type="radio" name="sc" id="xl-size" disabled>
            <label for="xl-size">40</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="xxl-size">
            <label for="xxl-size">42</label>
          </div>
        </div>
        <div class="quantity">
          <p>Quantity</p>
          <input class="pro-qty" type="number" value="1">
        </div>
        <a href="#"  class="site-btn">SHOP NOW</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button style="background-image: none;" class="panel-link active" data-toggle="collapse"
                data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
            </div>

            <div class="panel-body">
              <p>{{product.describe}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->

<app-shop-footer></app-shop-footer>