<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>
</header>
<!-- Header section end -->

<!-- product section -->
<section class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 contact-info" style="text-align: center;">
        <h3 style="padding-bottom: 10px;">Update Avatar</h3>
        <img class="avatar" [src]="image" alt="" style="width: 50% !important">
        <form [formGroup]="formImage" method="POST" (ngSubmit)="onSaveImage()" novalidate style="margin-top: 10px;">
          <label class="hinhanh" id="#bb" style="background-color: #3399ff; padding: 10px; margin-right: 10px; border-radius: 15%; color: #FFFFFF;"> Select Img
            <input type="file" (change)="onChangedImage($event)" #fileInput id="File" size="60">
          </label>
          <button class="site-btn" type="submit">Update</button>
        </form>
      </div>
      <form form method="POST" (ngSubmit)="doithongtincanhan()" action="" #f="ngForm"
      enctype="multipart/form-data" novalidate class="col-lg-4 contact-info" style="text-align: center;">
        <h3 style="padding-bottom: 10px;">Update Information</h3>
        <div class="contact-form">
          <input [(ngModel)]="user.name" id="nameOfUser" name="nameOfUser" type="text" placeholder="Name">
          <input [(ngModel)]="dateOfBirth" id="dateOfBirth" name="dateOfBirth" type="date" data-date-format="DD MMMM YYYY" placeholder="Ngày sinh">
          <input [(ngModel)]="user.phone" id="phone" name="phone" type="text" placeholder="Phone number">
          <input [(ngModel)]="user.email" id="email" name="email" type="email" placeholder="Email">
          <input [(ngModel)]="user.address" id="address" name="address" type="text" placeholder="Address">
          <select [(ngModel)]="user.gender" id="gender" name="gender" style="width: 100%; height: 44px;
          border: none; padding: 0 18px; background: #f0f0f0; border-radius: 40px;
          margin-bottom: 17px; font-size: 14px;" type="text" placeholder="Gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </div>
        <button type="submit" class="site-btn">UPDATE</button>
      </form>
      <div class="col-lg-4 contact-info" style="text-align: center;">
        <h3 style="padding-bottom: 10px;">Update Password</h3>
        <div class="contact-form">
          <input [(ngModel)]="password" type="password" placeholder="Current password">
          <input [(ngModel)]="newPassword" type="password" placeholder="New password">
          <input [(ngModel)]="reNewPassword" type="password" placeholder="Confirm new password">
        </div>
        <button (click)="doiMatKhau()" class="site-btn">UPDATE</button>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->


<app-shop-footer></app-shop-footer>