<app-memu-admin></app-memu-admin>
<div style="margin-left: 40px; margin-right: 40px;">
  <div class="app-content container center-layout mt-2">
    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="horz-layout-basic">Thêm Loại Sản Phẩm</h4>
            </div>
            <div class="card-content collpase show">
              <div class="card-body">
                <form class="form form-horizontal" id="frmUser" (ngSubmit)="createType()" action="" method="POST" #f="ngForm"
                enctype="multipart/form-data" novalidate>
                  <div class="form-body">
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput1" style="padding-top: 0px;padding-right: 0px;padding-left: 15px;">Loại</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput1" class="form-control" [(ngModel)]="type.name" placeholder="Loại" name="fname">
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-check-square-o"></i> Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- // Basic form layout section end -->
  </div>
</div>
<app-footer></app-footer>