<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-ad-menu></app-ad-menu>
</header>
<!-- Header section end -->

<section class="product-section">
  <div style="margin-left: 40px; margin-right: 40px;">
    <div class="app-content content">
      <div class="content-wrapper" style="min-height: 710px">
        <div class="content-body">
          <section id="file-export">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <div class="card">
                  <form action="#" method="post">
                    <div class="card-header">
                      <h4 class="card-title">Quản lý tài khoản</h4>
                    </div>
                    <div class="card-content collapse show" style="margin-top: 3%;">
                      <div class="card-body card-dashboard">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Id</th>
                              <th>Họ Tên</th>
                              <th>Tài khoản</th>
                              <th>Email</th>
                              <th>Ngày sinh</th>
                              <th>Số điện thoại</th>
                              <th>Quyền</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let user of users">
                              <td>{{user.id}}</td>
                              <td>{{user.name}}</td>
                              <td>{{user.accountName}}</td>
                              <td>{{user.email}}</td>
                              <td>{{user.dateOfBirth | date : "dd/MM/yyyy"}}</td>
                              <td>{{user.phone}}</td>
                              <td><button (click)="onSetStatus(user.id)">{{user.isActive}}</button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<app-shop-footer></app-shop-footer>
