.sale{
    background-color:rgb(50, 153, 114);
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.product{
    background-color:rgb(50, 153, 114);
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.user{
    background-color:rgb(50, 153, 114);
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.type{
    background-color:rgb(50, 153, 114);
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.type:hover{
    background-color: rgb(164, 207, 231);
    color: black;
}
.product:hover{
    background-color: rgb(164, 207, 231);
    color: black;
}
.user:hover{
    background-color: rgb(164, 207, 231);
    color: black;
}
.sale:hover{
    background-color: rgb(164, 207, 231);
    color: black;
}
.adminmenu{
    margin-top: 20px;
    margin-left: 10px;
}