<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>
</header>
<!-- Header section end -->


<!-- letest product section -->
<section class="top-letest-product-section" style="padding-top: 20px;">
  <div class="container">
    <div class="col-xl-4 col-lg-3" style="padding-left: 0px;">
      <div class="">
        <div class="" style="margin-top: 10px;">
          <label class="" for="country" style="margin-right: 10px;">Type</label>
          <select id="country" [(ngModel)]="typeid" name="id" (change)="onChangeProductType()" style="height: 30px;">
            <option *ngFor="let t of type" [value]="t.id">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="search">
        <ul>
          <input type="text" [(ngModel)]="keyword" name="keyword" class="textbox" value="Search on divisima">
          <button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="onFilter()">Search</button>
        </ul>
        <div id="response"> </div>
      </div>
    </div>
    <div class="section-title" style="margin-bottom: 40px;">
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6" *ngFor="let product of products">
        <div class="product-item">
          <div class="pi-pic">
            <img [src]="product.images" routerLink="/product/{{product.id}}/1" alt="">
            <div class="pi-links">
              <a class="add-card" style="margin-right: 5px !important;" (click)="addProductInCart(product.id)"><i class="flaticon-bag"></i>
              <span style="-webkit-user-select: none; -moz-user-select: none; cursor: pointer; -ms-user-select: none; user-select: none;">ADD TO CART</span></a>
              <a class="wishlist-btn" (click)="addProductInWishList(product.id, product.price)"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>${{product.price}}</h6>
            <p routerLink="/product/{{product.id}}/1">{{product.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center pagination-separate pagination-curved">
        <li class="page-item" [className]="current==0?'disabled':'enable'">
          <a class="page-link" aria-label="Previous" (click)="onPrePage()">
            <span aria-hidden="true"> << </span>
          </a> 
        </li> 
        <li class="page-item" [className]="ite === current ? 'active' : 'inactive'" *ngFor="let ite of pageArray">
          <a class="page-link" (click)="onGotoPage(ite)">{{ite + 1}}</a>
        </li>
        <li class="page-item" [className]="current==pageNumber-1?'disabled':'enable'">
          <a class="page-link" aria-label="Next" (click)="onNextPage()">
            <span aria-hidden="true"> >> </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!-- letest product section end -->

<app-shop-footer></app-shop-footer>

<script src="/assets/divisima/js/jquery-3.2.1.min.js"></script>
<script src="/assets/divisima/js/bootstrap.min.js"></script>
<script src="/assets/divisima/js/jquery.slicknav.min.js"></script>
<script src="/assets/divisima/js/owl.carousel.min.js"></script>
<script src="/assets/divisima/js/jquery.nicescroll.min.js"></script>
<script src="/assets/divisima/js/jquery.zoom.min.js"></script>
<script src="/assets/divisima/js/jquery-ui.min.js"></script>
<script src="/assets/divisima/js/main.js"></script>