<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-ad-menu></app-ad-menu>
</header>
<!-- Header section end -->


<!-- product section -->
<section class="product-section">
  <div style="margin-left: 40px; margin-right: 40px;">
    <div class="app-content container center-layout mt-2">
      <!-- Basic form layout section start -->
      <section id="horizontal-form-layouts">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" id="horz-layout-basic">Chỉnh Sửa Thông Tin Sản Phẩm</h4>
              </div>
              <div class="card-content collpase show">
                <div class="card-body">
                  <form class="form form-horizontal">
                    <div class="form-body">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" style="padding-top: 0px;padding-right: 0px;padding-left: 15px;">Tên sản phẩm</label>
                        <div class="col-md-9">
                          <input type="text" id="projectinput1" class="form-control" [(ngModel)]="product.name" placeholder="Tên sản phẩm" name="name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput2" style="padding-top: 0px;padding-right: 0px;padding-left: 15px;">Giá</label>
                        <div class="col-md-9">
                          <input type="text" id="projectinput2" class="form-control" placeholder="Giá" [(ngModel)]="product.price" name="price">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput3" style="padding-top: 0px;padding-right: 0px;padding-left: 15px;">Số lượng</label>
                        <div class="col-md-9">
                          <input type="text" id="projectinput3" class="form-control" placeholder="Số lượng" [(ngModel)]="product.quantity" name="quantity">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput5" style="padding-top: 0px;padding-right: 0px;padding-left: 15px;">Tình trạng</label>
                        <div class="col-md-9">
                          <input type="text" id="projectinput5" class="form-control" placeholder="Tình trạng" name="">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput4" style="padding-top: 0px;padding-right: 0px;padding-left: 15px;">Mô tả</label>
                          <div class="col-md-9">
                            <input type="text" id="projectinput4" class="form-control" placeholder="Mô tả" [(ngModel)]="product.describe" name="describe">
                          </div>
                        </div>
                    </div>
                    <div class="form-actions">
                      <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Cancel
                      </button>
                      <button (click)="editproduct()" type="submit" class="btn btn-primary">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- // Basic form layout section end -->
    </div>
  </div>
</section>
<!-- product section end -->


<app-shop-footer></app-shop-footer>

