<app-header></app-header>
<app-menu></app-menu>
<div class="single_top">
    <div class="container">
        <div class="single_grid">
            <div class="grid images_3_of_2">
               <img [src]="product.images" style="width: 250px; height: 270px;"/>
                 <div class="clearfix"></div>		
          </div> 
            <div class="desc1 span_3_of_2">
                <ul class="back">
                    <li><i class="back_arrow" (click)="goBack()" style="cursor: pointer;"> </i>Go back<a (click)="goBack()" style="cursor: pointer;"></a></li>
                </ul>
                <h1 style="font-size: 50px;">{{product.name}}</h1>
					<p>{{product.describe}}</p>
                    <div class="dropdown_top">
                        <span>Số lượng: </span> <input type="text" style="width: 50px;" [(ngModel)]="product.quantity">
                        <div class="clearfix"></div>
                    </div>
                    <div class="simpleCart_shelfItem">
                        <div class="price_single" style="font-size: 10px;">
                            <div class="head"><h2 ><span class="amount item_price">{{product.price}}</span><span>Dollar</span></h2></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="size_2-right"><button class="btn btn-danger btn-sm" (click)="addProductInCart()" value="">Add to Cart </button></div>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>