<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>
</header>
<!-- Header section end -->

<!-- Contact section -->
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 contact-info" >
        <h3 style="margin-bottom: 25px;">Sign In</h3>
        <p>If you already have an account, please login to continue.</p>
        <div style="padding-bottom: 80px" class="contact-form">
          <input [(ngModel)]="accountName" type="text" placeholder="Account name">
          <input [(ngModel)]="password" type="password" placeholder="Your password">
          <button (click)="login()" class="site-btn">LOG IN</button>
        </div>
      </div>
      <div class="col-lg-6 contact-info" >
          <h3 style="margin-bottom: 25px;">Create Account</h3>
          <p>By creating a new account you will have additional utilities that only shop users can do.</p>
          <button class="site-btn" (click)="createAccount()">CREATE</button>
      </div>
    </div>
  </div>
</section>
<!-- Contact section end -->

<app-shop-footer></app-shop-footer>