<app-header></app-header>
<app-menu></app-menu>
<div class="">
    <div class="">
      <div class="">
        <label class="" for="country">Sex</label>
      </div>
      <div class="">
        <select id="country" [(ngModel)]="typeid" name="id" (change)="onChangeProductType()">
          <option *ngFor="let t of type" [value]="t.id">{{t.name}}</option>
        </select>
      </div>
    </div>
    <button class="btn btn-danger btn-sm" (click)="onFilter()">Search</button>
    <div class="search">	  
      <input type="text" [(ngModel)]="keyword" name="keyword" class="textbox" value="Search">
      
      <div id="response"> </div>
       </div>
</div>
<div class="banner">
	<div class="container">
		<div class="banner_desc">
			<h1>Đến với D and M</h1>
			<h2>Thời trang là nghệ thuật</h2>
			<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">Shop Now</a>
			    </div>
		</div>
	</div>
</div>	
<div class="content_top">
	<h3 class="m_1">Latest Products</h3>
	<div class="container">
	   <div class="box_1" *ngFor="let product of products">
	      <div class="grids_of_4" >
            <div class="grid1_of_4 simpleCart_shelfItem" style="margin-right: 10px; margin-bottom: 10px; border: solid 2px; border-color: darkgrey; background-color: white; padding: 10px !important;" >
              <div class=""><a>
                  <div class="view view-fifth">
                    <img [src]="product.images"  class="img-responsive" alt="" style="max-height: 300px; min-height: 200px;" />
                    <div class="mask1">
                      <div class="info"> </div>
                    </div>
                  </div>
                </a>
              </div>
              <h5><h2 routerLink="/single/{{product.id}}/1" style="text-decoration: none; cursor: pointer;">{{product.name}}</h2></h5>
              <h6>{{product.price}}</h6>
              <div class="size_2">
                <div class="size_2-right" style="margin-left: 25% !important;"><input type="button" class="item_add add3" (click)="addProductInCart(product.id)" /></div>
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
 
</div>
<div class="clearfix"></div>
<nav aria-label="Page navigation" style="margin-top: -5px;">
    <ul class="pagination">
      <li [className]="current==0?'disabled':'enable'">
        <a (click)="onPrePage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li [className]="item === current ? 'active' : 'inactive'" *ngFor="let item of pageArray">
        <a (click)="onGotoPage(item)">{{item + 1}}</a>
      </li>
      <li [className]="current==pageNumber-1?'disabled':'enable'">
        <a (click)="onNextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>

<app-footer></app-footer>