<!-- Header section -->
<header class="header-section">
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>
</header>
<!-- Header section end -->


<!-- cart section end -->
<section class="cart-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-table" style="padding-bottom: 40px;">
          <h3>Your Bill</h3>
          <div class="cart-table-warp">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center;">Id</th>
                  <th class="product-th" style="text-align: center;">Purchase date</th>
                  <th class="quy-th" style="text-align: center;">Total</th>
                  <th class="total-th" style="text-align: center;">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients">
                  <td (click)="onGotoDetail(client.id)" style="text-align: center;"> {{client.id}} </td>
                  <td (click)="onGotoDetail(client.id)" style="text-align: center;"> {{client.dateCreate | date : "dd/MM/yyyy"}} </td>
                  <td (click)="onGotoDetail(client.id)" style="text-align: center;"> ${{client.total}} </td>
                  <td (click)="onGotoDetail(client.id)" style="text-align: center;"> {{client.address}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cart section end -->

<app-shop-footer></app-shop-footer>